[Unit]
Description=Test socket Service
Requires=test.socket

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/bin/test-server.py
StandardInput=socket
StandardError=journal
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
