[Unit]
Description=Test Socket

[Socket]
ListenStream=127.0.0.1:9999

[Socket]
ListenDatagram=127.0.0.1:9999

[Socket]
ListenSequentialPacket=/var/run/test.socket

[Socket]
ListenFIFO=/var/run/test-fifo
FileDescriptorName=sockio-stdin
RemoveOnStop=true
SocketUser=nobody
SocketGroup=nobody
SocketMode=0666

[Socket]
ListenStream=9990
BindIPv6Only=both

[Socket]
ListenStream=vsock:2:1234

[Socket]
ListenNetlink=route 1361

[Install]
WantedBy=sockets.target
